[user]
  name = Gustavo Franco
  email = gufranco@users.noreply.github.com
  useConfigOnly = true
  signingkey = 8D7317357C473E2F

[core]
  excludesfile = ~/.dotfiles/git/.gitignore_global
  autocrlf = input
  pager = less -FRSX
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = vim -f -u NONE -c 'set nocompatible nobackup noswapfile nowritebackup cursorline number colorcolumn=72 textwidth=72 wrap linebreak ruler showcmd' -c 'syntax on' -c 'filetype on'
  preloadindex = true
  fscache = true
  untrackedCache = true
  fsmonitor = true
  compression = 1

[init]
  defaultBranch = main

[commit]
  gpgsign = true
  template = ~/.dotfiles/git/.gitmessage

[color]
  ui = auto

[color "status"]
  added = green
  changed = yellow
  untracked = red

[color "branch"]
  current = magenta
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green

[pull]
  rebase = true

[branch]
  autosetuprebase = always

[rerere]
  enabled = true

[push]
  followTags = true
  default = current
  gpgSign = if-asked

[help]
  autocorrect = 1

[fetch]
  prune = true
  fsckObjects = true

[transfer]
  fsckObjects = true

[receive]
  fsckObjects = true

[url "https://"]
  insteadOf = git://

[gc]
  auto = 256

[pack]
  threads = 0
  windowMemory = 256m

[index]
  version = 4

[rebase]
  autoStash = true
  quiet = true

[status]
  submoduleSummary = true

[alias]
  st = status -sb
  fork = checkout -q -b
  pull-sub = !git pull --quiet && git submodule foreach 'git pull --quiet origin master || true'
  lg = log --color --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  unstage = reset -q HEAD --
  undo = checkout -q --
  committers = !git log --quiet | grep Author | sort | uniq -c | sort -n -r
  amend = commit --amend --no-edit --quiet
  last = log -1 --quiet HEAD
