# EditorConfig - https://editorconfig.org
root = true

# Default: 2-space indent, UTF-8, LF, trim trailing whitespace
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Python: 4-space indent, 88-char line (Black)
[*.py]
indent_size = 4
max_line_length = 88

# Go and Make: tabs
[*.go]
indent_style = tab
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab
indent_size = 4

# Markdown: preserve trailing whitespace (line breaks)
[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = 120

# Windows batch files: CRLF
[*.{bat,cmd}]
end_of_line = crlf

# Binary files: no text transformations
[*.{gpg,asc,pgp,p12,pfx,cer,der,png,jpg,jpeg,gif,ico,webp,svg,zip,tar,gz,tgz,bz2,7z,rar,ttf,otf,woff,woff2,eot}]
insert_final_newline = false
trim_trailing_whitespace = false
